
section {
    height:100vh;
}

/* color theme */

/* primary color */

.w3-theme-l5 {color:#000 !important; background-color:#fef7f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fbe3cc !important}
.w3-theme-l3 {color:#000 !important; background-color:#f7c699 !important}
.w3-theme-l2 {color:#000 !important; background-color:#f3aa65 !important}
.w3-theme-l1 {color:#fff !important; background-color:#f08e32 !important}
.w3-theme-d1 {color:#fff !important; background-color:#c4670f !important}
.w3-theme-d2 {color:#fff !important; background-color:#af5b0d !important}
.w3-theme-d3 {color:#fff !important; background-color:#99500b !important}
.w3-theme-d4 {color:#fff !important; background-color:#83440a !important}
.w3-theme-d5 {color:#fff !important; background-color:#6d3908 !important}

.w3-theme-light {color:#000 !important; background-color:#fef7f0 !important}
.w3-theme-dark {color:#fff !important; background-color:#6d3908 !important}
.w3-theme-action {color:#fff !important; background-color:#6d3908 !important}

.w3-theme {color:#fff !important; background-color:#013f82 !important}
.w3-text-theme {color:#013f82 !important}
.w3-border-theme {border-color:#013f82 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0f6dc4 !important}
.w3-hover-text-theme:hover {color:#0f6dc4 !important}
.w3-hover-border-theme:hover {border-color:#0f6dc4 !important}

/* top nav hover effects */
.w3-button:hover {
    color: #ffffff!important;
    background-color: #013f82!important;
}

/* secondary color */

.w3-theme2-l5 {color:#000 !important; background-color:#f0f7fe !important}
.w3-theme2-l4 {color:#000 !important; background-color:#cce4fb !important}
.w3-theme2-l3 {color:#000 !important; background-color:#99c9f7 !important}
.w3-theme2-l2 {color:#fff !important; background-color:#65aff3 !important}
.w3-theme2-l1 {color:#fff !important; background-color:#3294f0 !important}
.w3-theme2-d1 {color:#fff !important; background-color:#0f6dc4 !important}
.w3-theme2-d2 {color:#fff !important; background-color:#0d61af !important}
.w3-theme2-d3 {color:#fff !important; background-color:#0b5499 !important}
.w3-theme2-d4 {color:#fff !important; background-color:#0a4883 !important}
.w3-theme2-d5 {color:#fff !important; background-color:#083c6d !important}

.w3-theme2-light {color:#000 !important; background-color:#f0f7fe !important}
.w3-theme2-dark {color:#fff !important; background-color:#083c6d !important}
.w3-theme2-action {color:#fff !important; background-color:#083c6d !important}

.w3-theme2 {color:#fff !important; background-color:#1078da !important}
.w3-text-theme2 {color:#1078da !important}
.w3-border-theme2 {border-color:#1078da !important}

.w3-hover-theme2:hover {color:#fff !important; background-color:#1078da !important}
.w3-hover-text-theme2:hover {color:#1078da !important}
.w3-hover-border-theme2:hover {border-color:#1078da !important}


/* parallax */


body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

p, h1, h2, h3, h4, h5, h6, button, li, a {
    font-family: 'Bitter', serif;
}

a {
    text-decoration: none;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/img/sugarlofe-4.jpg') ;
    min-height: 100%;
    width: auto;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/img/baselodge.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* cards */
.w3-card {
    margin: 3%;
}

h1 {
    
   background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'Syncopate', sans-serif;
    font-size: 80px;
}